.commands {
    display: flex;
    flex-direction: column;
}

.base-url {
    width: 100%;
}

.commands-display {
    width: 100%;
    height: 200px;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
